# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# dependencies
*.d

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Specific binary, or build related excludes
support/bin
support/lua-5.3.1/src/lua
support/lua-5.3.1/src/luac
support/qemu-2.2.0/roms/seabios/config.mak
support/qemu-2.2.0/roms/vgabios/config.mak
support/qemu-2.2.0/tests/qemu-iotests/common.env

